@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');



body{
    font-family:'poppins',sans-serif ;
    background-color: hsl(221, 100%, 74%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

a{
    text-decoration: none;
    font-size: 24px;
    color: black;
    font-weight: 400;
}

.user ,.doctor{
    padding: 10px 20px 10px 20px;
    background-color: aliceblue;
    border-radius: 4px;
    margin: 10px;
    justify-content: center;
    text-align: center;
    display: flex;
}

.user:hover,.doctor:hover{
    background-color: aqua;
}